<div class="container-fluid">
  
  <h3>About</h3>
  <p class="lead">
        Hangman is a very simple pen-and-paper guessing game for two players. In this implementation,
        you are always the guessing side.
  <h3>Hangman Rules</h3>
  
    <ol>
      <li>A word is randomly selected from our database</li>
      <li>You are given the category of the word (for example - programming, cooking, sports,
        cars, etc </li>
      <li>A number of underscores equal to the length of the word is displayed.</li>
      <li>You need to choose a letter from the alphabet until</li>
        <ol>
          <li>The entire word is guessed</li>
          <li>You have missed six times - in this case, you lose.</li>
        </ol>
      </ol>
  <p>
</div>