.keyboard-btn {
    width: 7%;
    margin: 0.3%;
}
.correct {
    background: green;
    cursor: not-allowed;
    pointer-events: none;
}

.incorrect {
    background-color: red;
    cursor: not-allowed;
    pointer-events: none;
}